<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>  
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
     <add name="PD" connectionString="database=Markets;server=M1;user=sa;password=M1;" providerName="System.Data.SqlClient"/> 
  </connectionStrings>  
</configuration>